/* 遮幕效果css */
html,
body {
    padding: 0;
    margin: 0
}

.checkbox {
    width: 100%;
    height: 100px;
    margin: 100px auto;
    text-align: center
}

.checkbox a {
    display: inline-block;
    width: 100px;
    height: 40px;
    border: solid 1px #f00;
    color: #f00;
    text-align: center;
    line-height: 40px;
    text-decoration: none
}


/*弹框样式1*/

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    width: 600px;
    margin: 250px auto;
    height: 320px;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    width: auto;
    height: 1.25rem;
    display: block;
    font-size: 14px;
}

.is-visible .cd-popup-container {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/*弹框样式2*/

.cd-popup1 {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;
}

.cd-popup1.is-visible1 {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container1 {
    position: relative;
    width: 400px;
    margin: 250px auto;
    height: 250px;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    width: auto;
    height: 1.25rem;
    display: block;
    font-size: 14px;
}

.is-visible1 .cd-popup-container1 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


/*弹框样式3*/

.cd-popup2 {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;
}

.cd-popup2.is-visible2 {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container2 {
    position: relative;
    width: 400px;
    margin: 250px auto;
    height: 250px;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    width: auto;
    height: 1.25rem;
    display: block;
    font-size: 14px;
}

.is-visible2 .cd-popup-container2 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


/*弹框样式3*/

.cd-popup3 {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;
}

.cd-popup3.is-visible3 {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container3 {
    position: relative;
    width: 400px;
    margin: 250px auto;
    height: 250px;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    width: auto;
    height: 1.25rem;
    display: block;
    font-size: 14px;
}

.is-visible3 .cd-popup-container3 {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

    
.closeWin {
    width: 100%;
    height: 30px;
    cursor:pointer;
    margin: -1px -1px 0;
    text-align: left;
    background: linear-gradient(to bottom, #1D7FE2, #0865C2);
    border: 1PX solid #0D6EB8;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 rgba(225, 255, 255, .1) inset, 0 1px 1px rgba(0, 0, 0, .2);
}

.win_header_text {
    margin: 5px;
    height: 20px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    font-size: 20px;
    font-weight: 700;
}

.askQuestion {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
}

.askQuestion label {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: black;
}

.askQuestion textarea {
    height: 80px;
    width: 80%;
    border-radius: 3px;
    border: 1px solid #1D7FE2;
}

.topicDiv {
    width: 80%;
    height: 15px;
    margin: 15px auto;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
}

#inputTopic {
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #1D7FE2;
}

.display_topic {
    position: absolute;
    width: 80%;
    height: 80px;
    background-color: #eee;
    border: 1px solid #1D7FE2;
    z-index: 1;
    display: none;
    left: 10%;
    border-radius: 3px;
}

.list_topic {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

.list_topic ul {
    margin: 0;
    padding: 0;
}

.li {
    height: 40px;
    border: 1px solid #1D7FE2;
    text-align: center;
    color: #000000;
    background: #ffffff;
}

.findDiv {
    width: 80%;
    height: 30px;
    margin: 30px auto;
    text-align: right;
    background: #ffffff;
    
}

#ask {
	font-weight:0;
    height: 30px;
    width:60px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color:white;
    font-weight:800;
    background-color: #0F6ECD;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline: none;
}
.closeWinButton{
	height: 30px;
    width:60px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color:white;
    background-color:#0F6ECD;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline: none;
}
.searchBtn{
	height: 32px;
    width:60px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color:white;
    font-weight:800;
    background-color: #ccc;
    border-radius: 2px;
    border: none;
    -webkit-appearance: none;
    outline: none;
}