
#topic_detail{
	
	
}
.ask{
	
	width: 1200px;
	height: 200px;
	/* background: #F6F6F6; */
	margin: 0px auto;
	margin-bottom: 20px;
	
	border-bottom:  #eee 1px solid;
}

.ask_word {
	
    /* vertical-align: top; */
    /* text-align: center; */
    /* display: block; */
    float: left;
    background: rgba(0,154,96,0);
    border: 1px solid #009a61;
    border-radius: 50%;
    font-size: 16px;
    padding: 6px;
    width: 28px;
    height: 28px;
    color: #009a61;
    font-weight: 400;
    margin-right: 10px;
    line-height: 2;
    text-align: center;
    margin-top: 20px;
    
}
.ask_title a{
	padding:30px;
	display:block;
	font-size: 22px;
	    color: #333;
    text-decoration: none;
}

.answer{
	
	width: 1200px;
	margin: 0px auto;
	
}
.p_content{
	
	margin: 10px;
	font-size: 15px;
}
/*回答编号的样式  */
/*上三角形 */
.triangle-up {
	
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #858C93;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #858C93;
}
.widget-vote {
	 text-align:center;
	 line-height:30px;
	float:left;
    height: 70px;
}


.answer_content{
	text-align: left;
	padding:10px;
	margin-top: 30px;
	margin-bottom: 10px;
	border-bottom:  #999 1px solid;
}
.answer_content p{
	margin-left:100px;
	width: 800px;
	
	padding-bottom: 30px;
	
}
#answer_info{
    width:1200px;
    
}
.user_info{
	margin-top: 20px;
	display:block;
	float: right;
	color:#333;
}
.user_name{
	color:#00a2ca;
}
.lable_class{
	font-weight: 900;
	font-size: 16px;
}





