{% extends 'base.html' %}
{% block title %}知乎算法结果展示{% endblock %}
{% block content %}
    <script type="text/javascript" src="../static/echarts-2.2.7/src/chart/esl.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <div id="myChart" style="margin:0px auto;margin-bottom:80px; height: 400px; width:800px; border: 1px solid #ccc; padding: 10px;"></div>
<link rel="stylesheet" href="../static/css/algorithmShow.css">
<script type="text/javascript">

      var header=document.getElementById('header')
      header.style.position='static'
      head_hight=document.getElementById('head_hight')
      head_hight.style.height='80px'

      $(document).ready(function(){
            //默认显示CN数据
            ajax_data("CN")
            //获取所有的i元素
            $("i").click(function(){
                var el = $(this);
                 ajax_data(el.attr('id'))
            })
            
      })
      //ajax向后台传送数据
     function ajax_data(val_name){
          $.ajax({
                type:"POST",
                data: {'val_name':val_name},
                url: "/algorithmShow/", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                cache: false,
                dataType: "html",
                success: function(auc, statues, xml){

                    auc=JSON.parse(auc)
                    show(val_name,auc)  
                },
                error: function(){
                    alert("false");
                }

          });
     }
     //求数据元素的下标
     function getIndex(array,value){
        j=0;
        for (var i = 0; i < array.length; i++) {
              if (array[i] == value)
                  return j
              else{
                j++;
              }
          }
     }
    //将数据展示画面
    function show(name,auc){
       /* 
          * 按需加载 
          * 引入echart.js依赖的zrender.js, 再引入echart.js 
       */ 
      //获取数据中的最大值和最值
      maxAuc=Math.max.apply(null, auc['auc']);//最大值
      minAuc=Math.min.apply(null, auc['auc']);//最大值
      //获取数据中的最大值和最值的下标
      maxAucIndex=getIndex(auc['auc'],maxAuc)
      minAucIndex=getIndex(auc['auc'],minAuc)
      require.config({  
          packages: [  
              {  
                  name: 'zrender',  
                  location: '../static/zrender-2.1.0/src', // zrender与echarts在同一级目录  
                  main: 'zrender'  
              },  
              {  
                  name: 'echarts',  
                  location: '../static/echarts-2.2.7/src',  
                  main: 'echarts'  
              }  
          ]  
      });  
   
      /***/  
      option = {
          title : {
              text: name+'指标算法结果展示',
              subtext: '两层网络结构'
          },
          tooltip : {
              trigger: 'axis'
          },
          legend: {
              data:name
          },
          toolbox: {
              show : true,
              feature : {
                  mark : {show: true},
                  dataView : {show: true, readOnly: false},
                  magicType : {show: true, type: ['line', 'bar']},
                  restore : {show: true},
                  saveAsImage : {show: true}
              }
          },
          calculable : true,
          xAxis : [
              {
                  type : 'category',
                  data : auc['param']
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          series : [
             
              {
                  name:name,
                  type:'bar',
                  data:auc['auc'],
                  markPoint : {
                      data : [
                          {name : '最高值', value : maxAuc, xAxis: maxAucIndex, yAxis: maxAuc, symbolSize:18},
                          {name : '最低值', value : minAuc, xAxis: minAucIndex, yAxis: minAuc}
                      ]
                  },
                  markLine : {
                      data : [
                          {type : 'average', name : '平均值'}
                      ]
                  }
              }
          ]
      };
        
      /* 
      *按需加载 
      */  
      require(  
          [  
              'echarts',  
              'echarts/chart/line', 
              'echarts/chart/bar',  
          ],  
          //渲染ECharts图表  
          function DrawEChart(ec) {  

              //图表渲染的容器对象  
              var chartContainer = document.getElementById("myChart");  

              //加载图表  
              var myChart = ec.init(chartContainer);  
      
              myChart.setOption(option);  
          }  
       );  
    }

</script>
     <div class="row">
        <div class="block">
            <i class="hovicon effect-1 sub-a"  id="CN" value="CN">CN</i>
        </div>
        <div class="block">
            <i class="hovicon effect-1 sub-b" id="Salton">Salton</i>
        </div>
         <div class="block">
            <i class="hovicon effect-1 sub-a" id="Jaccard">Jaccard</i>
        </div>
        <div class="block">
            <i class="hovicon effect-1 sub-b" id="Sorenson">Sorenson</i>
        </div>
         <div class="block">
            <i class="hovicon effect-1 sub-a" id="LHN_I">LHN_I</i>
        </div>
        <div class="block">
            <i class="hovicon effect-1 sub-b" id="AA">AA</i>
        </div>
         <div class="block">
            <i class="hovicon effect-1 sub-a" id="RA">RA</i>
        </div>
        <div class="block">
            <i class="hovicon effect-1 sub-b" id="PA">PA</i>
        </div>
         
    </div>
  <div class="cls_float"></div>
   
{% endblock %}