<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}知乎数据{% endblock %}</title>
<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
<link href="../static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="../static/css/topic.css" rel="stylesheet" type="text/css" />

<script src="../static/js/index.js" type="text/javascript"></script>
<script src="../static/js/jquery-1.9.1.min.js" type="text/javascript" ></script>
</head>
<body>
{% include 'header.html' %}
<div id="head_hight"></div>
{% block content %}
    <div>抱歉没有数据...</div>
{% endblock %}
{% include 'footer.html' %}
</body>
</html>