<style>
    #footer{
        height: 20px;
    }
    #footer_contain {
        color: #999;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 13px;
        word-wrap: break-word;
        text-align: center;
        width:1200px;
        margin:0px auto;
        height:20px;
        border-top:#999 1px solid; 
        line-height: 20px;
    
    }
</style>

<div id="footer" >
    <div id="footer_contain" >
        <span >© 2016 知乎数据</span>
    </div>
</div>