
<div id="header" >
	<div id="header_contain" >
	    <span id="top">
	           <a href="/login">登入</a>
	           <a href="/register">注册</a>
	    </span>
	</div>
	<div id="nav">
	   <div id="nav_box">
	       <img alt="知乎数据" class="img-logo"src="../static/images/nav_logo.png" >
	       <ul id="nav_ul">
	           <li class="nav_frist"><a href="/index">首页</a></li>
	           <li><a href="/algorithmShow">算法指数</a></li>
	           <li><a href="/topicTree">话题树</a></li>
	           
	           {%ifnotequal loginUser "none"%}
	           <li><a href="/userIndex">个人首页</a></li>
	           {%endifnotequal%}
	           {%ifequal loginUser "none"%}
               <li><a href="/login">登入</a></li>
               <li><a href="/register">注册</a></li>
               {%endifequal%}
	           
	       </ul>
	       {%if loginUser%}
           {%ifnotequal loginUser "none"%}
	       <div class="head_user_info" id ="div1">
	           <img class="img-responsive" src="../static/images/zhihu_img.jpg" height="10" alt="">
               <a href="/userInfo" class="user_detal" >{{loginUser.personname}}</a>
           </div>
           <div class="head_user_detail" id ="div2">
                <ul>
                    <li><a href="/userInfo" style="background-image: url(../static/images/user_img.png) ;background-repeat: no-repeat;background-position: left center;" >个人主页</a></li>
                    <li><a href="#" style="background-image: url(../static/images/set_img.png) ;background-repeat: no-repeat;background-position: left center;">修个信息</a></li>
                    <li><a href="/logout" style="background-image: url(../static/images/logout_img.png);background-repeat: no-repeat; background-position: left center;">退出</a></li>
                </ul>
           </div>
           {%endifnotequal%}
           {%endif%}
	    </div>   
	</div>
</div>