<div id="header" >
	<div id="header_contain" >
	    <span id="top">
	           <a href="/login">登入</a>
	           <a href="/register">注册</a>
	    </span>
	</div>
	<div id="nav">
	   <div id="nav_box">
	       <img alt="知乎数据" src="../static/images/nav_logo.png" width="140">
	       <ul id="nav_ul">
	           <li class="nav_frist"><a href="/index">首页</a></li>
	           <li><a href="#">个人中心</a></li>
	           <li><a href="#">算法指数</a></li>
	           <li><a href="#">话题树</a></li>
	           <li><a href="/login">登入</a></li>
	           <li><a href="/register">注册</a></li>
	       </ul>
	    </div>   
	</div>
</div>