<style>
    #header{
        border-bottom:#999 1px solid; 
        height:30px;
    }
    #header_contain{
        color: #999;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 14px;
        word-wrap: break-word;
        text-align: right;
        margin-bottom: 10px;
        line-height:30px;
        width:1000px;
        margin: 0px auto;
    }
</style>
<div id="header" >
	<div id="header_contain" >
	
	    <span class="copy">
	           <a href="/login">登入</a>
	           <a href="/register">注册</a>
	    </span>
	</div>
</div>