{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}
{% block content %}

<link href="../static/css/person.css" rel="stylesheet" type="text/css" />

<div class="cls_float">
<div align="center" class="cls_float">
	<div id="info">
    <!--用户资料-->
        <div class="div_info">
        <!--Div内容-->
            <div style="float: left;width: 60%">
                <div class="info_nameid">
                <!--用户姓名与ID-->
                    <div class="info_nameid_name">{{person.personname|title}}</div>
                    <div class="info_nameid_id"><b>ID : </b>{{person.id}}</div>
                </div>
                <!--用户详细信息-->
                <div class="info_content">
                    <div style="width: 100%;height: 10%"><!--占位分割div--></div>
                    {% if person.personaddress or person.personbusiness or person.personemployment or person.personposition or person.personeducation or erosn.personeducation_extra %}
                        {% if person.personaddress != 'None' or person.personbusiness != 'None' or person.personemployment != 'None' or person.personposition != 'None' or person.personeducation != 'None' or erosn.personeducation_extra != 'None' %}
                            {% if person.personaddress and person.personaddress != 'None'%}
                            <div class="info_content_name"><b>地址 : </b></div>
                                <div class="info_content_text">{{person.personaddress}}</div>
                            {% endif %}
                            {% if person.personbusiness and person.personbusiness != 'None' %}
                            <div class="info_content_name"><b>行业 : </b></div>
                                <div class="info_content_text">{{person.personbusiness}}</div>
                            {% endif %}
                            {% if person.personemployment and person.personemployment != 'None' %}
                            <div class="info_content_name"><b>公司 : </b></div>
                                <div class="info_content_text">{{person.personemployment}}</div>
                            {% endif %}
                            {% if person.personposition and person.personposition != 'None' %}
                            <div class="info_content_name"><b>职位 : </b></div>
                                <div class="info_content_text">{{person.personposition}}</div>
                            {% endif %}
                            {% if person.personeducation and person.personeducation != 'None' %}
                            <div class="info_content_name"><b>教育 : </b></div>
                                <div class="info_content_text">{{person.personeducation}}</div>
                            {% endif %}
                            {% if person.personeducation_extra and person.personeducation_extra != 'None' %}
                            <div class="info_content_name"><b>专业 : </b></div>
                                <div class="info_content_text">{{person.personeducation_extra}}</div>
                            {% endif %}
                        {% else %}
                            <div class="info_noexist" align="center">该用户还没有填写资料</div>
                        {% endif %}
                    {% else %}
                        <div class="info_noexist" align="center">该用户还没有填写资料</div>
                    {% endif %}
                </div>
            </div>
            <div style="float: right;width: 40%;height: 100%;">
                <div class="div_header">关注的话题</div>
                <hr>
                    <div style="width: 50%;float: left;">
                    <table>
                    {% for topic in followTopic %}
                        {% if forloop.counter < 6 %}
                            <tr>
                                <div style="height: 22px;line-height: 22px;font-size: 20px;"><p><b><i>{{topic.topicname}}</i></b></p></div>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                    </div>
                    <div style="width: 50%;float: left;">
                    <table>
                    {% for topic in followTopic %}
                        {% if forloop.counter > 5 and forloop.counter < 11 %}
                            <tr>
                                <div style="height: 22px;line-height: 22px;font-size: 20px;"><p><b><i>{{topic.topicname}}</i></b></p></div>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>    
                    </div>
            </div>

            <div class="info_introduction">
            <!--用户简介-->
                    {% if person.personbiography and person.personbiography != 'None' %}    
                        <div style="width: 20%;float: left;">简介：</div>
                        <div style="width: 80%;float: right;text-align: left;">{{person.personbiography}}</div>
                    {% else %}
                        该用户还没有填写简介
                    {% endif %}
            </div>
        </div>
	</div>
</div>

<!--***********************************************************************************************************************************-->

<div class="temp_col"></div>
<!--***********************************************************************************************************************************-->
<div align="center">
    <div id="content">
    <!--详情区-->
        <div class="recommend_topic">
        <!--推荐区-->
            <div class="div_header" ">推荐的话题</div>
            {% for topic in followTopic %}
                {% if forloop.counter < 11 %}
                <div style="height: 100px;border:1px solid #E9E9E9;">
                    <div style="width:50px;height: 100%;float: left;line-height: 20px;font-size: 20px;border:1px solid #E5F0F0;">{{topic.topicname}}</div>
                    <div>
                        <div style="height: 20px;font-size: 20px;">已关注话题的好友:</div>
                        <div style="height: 80px;font-size: 60px;text-align: left;">
                            <table>
                                <tr>
                                    <td style="width: 100px;font-size: 20px;">person0</td>
                                    <td style="width: 100px;font-size: 20px;">person1</td>
                                    <td style="width: 100px;font-size: 20px;">person2</td>
                                    <td style="width: 100px;font-size: 20px;">person3</td>
                                    <td style="width: 100px;font-size: 20px;">person4</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <div style="width: 18%;float: left;"></div>
            <div class="recommend_followees">
            <!--推荐区-->
                <div class="div_header" ">推荐的好友</div>
                {% for topic in followTopic %}
                    {% if forloop.counter < 11 %}
                    <div style="height: 100px;border:1px solid #E9E9E9;">
                        <div style="width:50px;height: 100%;float: left;line-height: 20px;font-size: 20px;border:1px solid #E5F0F0;">{{topic.topicname}}</div>
                        <div>
                            <div style="height: 20px;font-size: 20px;">共同的好友:</div>
                            <div style="height: 80px;font-size: 60px;text-align: left;">
                                <table>
                                    <tr>
                                        <td style="width: 100px;font-size: 20px;">person0</td>
                                        <td style="width: 100px;font-size: 20px;">person1</td>
                                        <td style="width: 100px;font-size: 20px;">person2</td>
                                        <td style="width: 100px;font-size: 20px;">person3</td>
                                        <td style="width: 100px;font-size: 20px;">person4</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        <!--***********************************************************************************************************************************-->        
    </div>
</div>
</div>
{% endblock %}