{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/userInfo.css">
<div id="user_content">

	<div id="user_head">
		<div id="user_head_top"></div>
		<div id="user_head_bottom">
			
			<div class="ProfileHeader-main">
				<div class="ProfileHeader-img" >
				
				    <img alt="用户头像" src="../static/images/zhihu_photo.jpg" width="150" height="150">
				</div>
				<div class="ProfileHeader-userInfo">
				  <label style="font-size: 18px;color:#333;padding-bottom: 10px;font-weight: 800;">{{loginUser.personname}}</label><br/> 
				<p class="p_profile">性别:{{loginUser.persongender}}</p>
				{% ifnotequal loginUser.personbiography "None" %}
				<p class="p_profile">简介:{{loginUser.personbiography}}</p>
				{% endifnotequal %}
				{% ifnotequal loginUser.personaddress "None" %}
				<p class="p_profile">地址:{{loginUser.personaddress}}</p>
				{% endifnotequal %}
				<p class="p_profile">
				{% ifnotequal loginUser.personbusiness "None" %}
				行业:{{loginUser.personbusiness}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personemployment "None" %}
				公司:{{loginUser.personemployment}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personposition "None" %}
				职位:{{loginUser.personposition}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personeducation  "None" %}
				教育:{{loginUser.personeducation}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personeducation_extra "None" %}
				专业:{{loginUser.personeducation_extra}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personagreenum "None" %}
				赞同数{{loginUser.personagreenum}}
				{% endifnotequal %}
				{% ifnotequal loginUser.personthanksnum "None" %}
				感谢数{{loginUser.personthanksnum}}
				{% endifnotequal %}
				</p>

				</div>
				
			</div>
		</div>

	</div>
	<div id="user_body">
		
		<div class="user_left">
			<div class="user_left_top">
				<ul>
					<li><a href="#">动态</a></li>
					<li><a href="#">回答{{loginUser.personanswersnum}}</a></li>
					<li><a href="#">分享0</a></li>
					<li><a href="#">提问{{loginUser.personasksnum}}</a></li>
					<li><a href="#">收藏{{loginUser.personcollectionsnum}}</a></li>
					<li><a href="#">关注{{loginUser.personfolloweesnum}}</a></li>
				</ul>

			</div>
			<div class="user_left_middle">
				
				我的动态
			</div>
			<div class="user_left_bottom">
				<div class="user_left_bottom_top">关注了话题</div>
				
				<div class="user_left_bottom_bottom">
					{%if topicFollows%}
					{%for topic in topicFollows%}
				    <div class="user_left_bottom_bottom_box">
	                    <div class="user_left_bottom_bottom_img"></div>
	                    <div class="user_left_bottom_bottom_cont">
	                        <div class="topic_name"> {{topic.topicname}}</div>
	                        <div class="topic_detail">简介暂无..</div>
	                    </div>
	                </div>
	                {%endfor%}
	                {%endif%}
				</div>
			</div>

		</div>
		<div class="user_right">
			
			<div class="user_right_top">
			    <a href="#" class="user_right_top_follow">
			    	<div class="follow_div">关注了</div>
					<div class="followCount_div">{{loginUser.personfolloweesnum}}</div>
			    </a>
			    
				<a href="#" class="user_right_top_follow">
			    	<div class="followed_div">关注者</div>
					<div class="followedCount_div">{{loginUser.personfollowersnum}}</div>
			    </a>
			</div>
			<div class="user_right_bottom">
				<a href="#">
					<label>关注的话题</label>
					<label class="user_right_bottom_count" >0</label>
				</a>
				<a href="#">
					
					<label>关注的专栏</label>
					<label class="user_right_bottom_count">0</label>
				</a>
				<a href="#">
					<label>关注的问题</label>
					<label class="user_right_bottom_count">0</label>
				</a>
				<a href="#">
					<label>关注的收藏夹</label>
					<label class="user_right_bottom_count">{{loginUser.personcollectionsnum}}</label>
				</a>
			</div>
		</div>
		<div class="cls_float"></div>
	</div>
    <div class="cls_float"></div>
</div>
{% endblock %}