{% extends 'base.html' %}
{% block title %}用户首页{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/userIndex.css">
<body>
	<div class="user-index">
		<div class="user-index-left">
			<div class="left-head">
				
				<div class='head-nav'>
					<div class="head-img">
						<img src="../static/images/zhihu_img.jpg" alt="用户头像" width="50" height="50">
					</div>
					<div class="head-nav-sanjiao"></div>
					<div class="head-nav-nav">
						<ul>
							<li><a href="">提问</a></li>
							<li><a href="">回答</a></li>
							<li><a href="">写文章</a></li>
						</ul>
					</div>
					<div class="cls_float" style="clear: both;"></div>
				</div>
				<div class="head-nav-topic">
					<div class="nav-topic-lable">按已关注的话题阅读：</div>
					<div class="nav-topic-content">
					{%if topicFollows%}	
					
						{%for topic in topicFollows%}
						
							<a href="#">{{topic.topicname}}</a>
						{%endfor%}

					{%endif%}
					</div>
				</div>
				<div class="cls_float"></div>
				<div class="head-nav-newreader">最新动态</div>
			</div>

			<div class="left-bottom">
				
				{%if loginUserTopic%}	
					{%for topicDetail in loginUserTopic%}
					<div class="topic-box">
						<div class="topic-img">
							<img src="../static/images/zhihu_img.jpg" alt="用户头像" width="40" height="40">
							<div class="ask-count">
								<a href="#">21</a>
							</div>
						</div>
						<div class="topic-ask">
							
							<div class="topic-name">
							来自话题:<a href="#">{{topicDetail.fromtopicname}}</a>
							</div>
							<div class="topic-ask-title">
								<a href="/topic?id={{ topicDetail.questionid }}" target="_blank">{{topicDetail.questionname}}</a>
							</div>
							<div class="answer-name">
								<a href="#">回答者:{{topicDetail.personid}}</a>
								<span>简介</span>
							</div>
								
						</div>
					</div>
					{%endfor%}
				{%endif%}
					
				
			</div>

		</div>
		<div class="user-index-right">
			<div class="recommend-box">
				<div class="recommend-box-title">好友推荐</div>
				<div class="tag-name">

					<ul>
						<li>编号</li>
						<li>好友id</li>
						<li>共同好友</li>
					</ul>
				</div>
				<div class="cls_float"></div>
				{%if recommendFollows%}	
					{%for follows in recommendFollows%}
					<div class="ask-item-active">
		              <div class="order-num">
		                {{ forloop.counter }}
		              </div>
		              <div class="ask-conent">
		                <a class="ask-title" href="#" >{{follows.personname}}</a>

		                
		              </div>
		              <div class="ask-count_cn">{{follows.count_cn}}</div>
		              <div class="follow-recommend">
		                <a class="ask-title" href="#" >关注</a>
		              </div>
	            	</div>
					{%endfor%}
				{%endif%}

			</div>

			<div class="recommend-box">
				<div class="recommend-box-title">话题推荐</div>
				<div class="tag-name">

					<ul>
						<li>编号</li>
						<li>话题</li>
					</ul>
				</div>
				<div class="cls_float"></div>
				{%if recommendTopics%}	
					{%for reTopics in recommendTopics%}
					<div class="ask-item-active">
		              <div class="order-num">
		                {{ forloop.counter }}
		              </div>
		              <div class="ask-conent">
		                <a class="ask-title" href="#" >{{reTopics.topicname}}</a>

		              </div>
		              <div class="ask-count_cn"></div>
		              <div class="follow-recommend">
		                <a class="ask-title" href="#" >关注</a>
		              </div>
	            	</div>

					{%endfor%}
				{%endif%}
			<div class="cls_float"></div>
				
			</div>
		</div>
		<div class="cls_float"></div>

	</div>

{% endblock %}