{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}
{% block content %}


<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	$(function() {
		FollowHtml=''
		FollowHtmlBox=''
		function getFollow(){
			if (FollowHtml==''){
				$.get("/followPerson",function(data,status){
	                followed=JSON.parse(data)
	                $('.user_left_bottom_top').html("我关注的人")
	                $(".user_left_bottom_bottom_b").css("display",'block');
	                $(".user_left_bottom_bottom_a").css("display",'none');
	                FollowHtmlBox=' <div class="user_left_bottom_bottom_box"></div>'
	                $(".user_left_bottom_bottom_b").prepend(FollowHtmlBox)
	                $('.followCount_div').html(followed.length)
	                $('.followPersonNum').html(followed.length)
	                
	                for(var i=0;i<followed.length;i++){
	                    FollowHtml='<div class="user_left_bottom_bottom_img" style="border-radius: 30px; background-image:url(../static/images/zhihu_img.jpg);background-repeat: no-repeat;background-size:cover;"></div><div class="user_left_bottom_bottom_cont"><div class="topic_name" tips="'+followed[i][0]+'">'+followed[i][1]+'</div><button type="button" class="topic_detail">取消关注</button></div>'
	                    $(".user_left_bottom_bottom_b").prepend(FollowHtml)
	                }
	              });
			}else{
				$(".user_left_bottom_bottom_b").css("display",'block');
                $(".user_left_bottom_bottom_a").css("display",'none');
			}
			
		}
		topicHtml=''
	    topicHtmlBox=''
		function getTopic(){
			if(topicHtml==""){
				 $.get("/followTopic",function(data,status){
		                topics=JSON.parse(data)
		                $('.user_left_bottom_top').html("我关注的话题")
		                $(".user_left_bottom_bottom_a").css("display",'block');
		                $(".user_left_bottom_bottom_b").css("display",'none');
		                topicHtmlBox=' <div class="user_left_bottom_bottom_box"></div>'
		                $(".user_left_bottom_bottom").prepend(topicHtmlBox)
		                for(var i=0;i<topics.length;i++){
		                    topicHtml='<div class="user_left_bottom_bottom_img"  style="border-radius: 30px; background-image:url(../static/images/zhihu_img.jpg);background-repeat: no-repeat;background-size:cover;"></div><div class="user_left_bottom_bottom_cont"><div class="topic_name" tips="'+topics[i][0]+'">'+topics[i][1]+'</div><button type="button" class="topic_detail">取消关注</button></div>'
		                    $(".user_left_bottom_bottom_a").prepend(topicHtml)
		                }
		              });
			}else{
				$(".user_left_bottom_bottom_a").css("display",'block');
                $(".user_left_bottom_bottom_b").css("display",'none');
			}
           
        }
		
		 //取消关注
	     function ajax_deleteFollows(flag,followId){
	          $.ajax({
	                type:"POST",
	                data: {'flag':flag,'followId':followId},
	                url: "/deleteFollows/", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
	                cache: false,
	                dataType: "html",
	                success: function(jsonData, statues, xml){

	                    //window.location.reload();//刷新当前页面.
	                    
	                    
	                },
	                error: function(){
	                    alert("false");
	                }
	          });
	     }
		getFollow()
		
	    $('.followCount_div').click(function(){
	    	
	    	getFollow()
	    })
	    $('.followPerson').click(function(){
	    	
	    	
	    	getFollow()
	    })
	     $('.news').click(function(){
	    	
	    	 getTopic()
        }) 
        
        
        $('.topic_detail').click(function(){
             alert(3)
             //alert($(this).parent())
        })
        $(".topic_detail").on('click',function(){
        	
        	alert(1)
        })
        
        //on方法要先找到原选择器（user_left_bottom_bottom_a),再找到动态添加的选择器（.user_left_bottom_bottom_img)
		$(".user_left_bottom_bottom_a").on("click",".topic_detail",function(){
			$(this).parent().prev().remove()
	        $(this).parent().remove()
	        ajax_deleteFollows('follow-topic',$(this).prev().attr('tips'))
	        
	    });
		
		//取消我关注的人
		$(".user_left_bottom_bottom_b").on("click",".topic_detail",function(){
        　　　          　
        　　　            $(this).parent().prev().remove()
        　　　              $(this).parent().remove()
           ajax_deleteFollows('follow-person',$(this).prev().attr('tips'))
            
        });
		
        /* 获取导航栏的元素 */        
        var nav_a=$('.user_left_top').children("ul").children("li").children("a")
        nav_a.each(function(){
        	$(this).click(function(){
                
        		nav_a.each(function(){
        			   $(this).css("border-bottom","")
        			   $(this).css("color","")
        		 });
        		$(this).css("border-bottom","#00a2ca 2px solid")
        		$(this).css("color","#00a2ca")
           }) 
        })
        
	})

</script>
<link rel="stylesheet" type="text/css" href="../static/css/userInfo.css">


<div id="user_content">

	<div id="user_head">
		<div id="user_head_top"></div>
		<div id="user_head_bottom">
			
			<div class="ProfileHeader-main">
				<div class="ProfileHeader-img" >
				
				    <img alt="用户头像" src="../static/images/zhihu_photo.jpg" width="150" height="150">
				</div>
				<div class="ProfileHeader-userInfo">
				  <label style="font-size: 18px;color:#333;padding-bottom: 10px;font-weight: 800;">{{loginUser.personname}}</label><br/> 
				<p class="p_profile">性别:{{loginUser.persongender}}</p>
				{% ifnotequal loginUser.personbiography "None" %}
				<p class="p_profile">简介:{{loginUser.personbiography}}</p>
				{% endifnotequal %}
				{% ifnotequal loginUser.personaddress "None" %}
				<p class="p_profile">地址:{{loginUser.personaddress}}</p>
				{% endifnotequal %}
				<p class="p_profile">
				{% ifnotequal loginUser.personbusiness "None" %}
				行业:{{loginUser.personbusiness}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personemployment "None" %}
				公司:{{loginUser.personemployment}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personposition "None" %}
				职位:{{loginUser.personposition}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personeducation  "None" %}
				教育:{{loginUser.personeducation}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personeducation_extra "None" %}
				专业:{{loginUser.personeducation_extra}}
				{% endifnotequal %}

				{% ifnotequal loginUser.personagreenum "None" %}
				赞同数{{loginUser.personagreenum}}
				{% endifnotequal %}
				{% ifnotequal loginUser.personthanksnum "None" %}
				感谢数{{loginUser.personthanksnum}}
				{% endifnotequal %}
				</p>

				</div>
				
			</div>
		</div>

	</div>
	<div id="user_body">
		
		<div class="user_left">
			<div class="user_left_top">
				<ul class="nav_ul">
					<li><a href="javascript:void(0);" class="news">动态</a></li>
					<li><a href="javascript:void(0);">回答{{loginUser.personanswersnum}}</a></li>
					<li><a href="javascript:void(0);">分享0</a></li>
					<li><a href="javascript:void(0);">提问{{loginUser.personasksnum}}</a></li>
					<li><a href="javascript:void(0);">收藏{{loginUser.personcollectionsnum}}</a></li>
					<li><a href="javascript:void(0);" class="followPerson">关注<label class="followPersonNum">{{loginUser.personfolloweesnum}}</label></a></li>
				</ul>

			</div>
			<div class="user_left_middle">
				
				我的动态
			</div>
			<div class="user_left_bottom">
				<div class="user_left_bottom_top"></div>
				
				<div class="user_left_bottom_bottom_a">
					
				</div>
				
				<div class="user_left_bottom_bottom_b">
                    
                </div>
			</div>

		</div>
		<div class="user_right">
			
			<div class="user_right_top">
			    <a href="javascript:void(0);" class="user_right_top_follow">
			    	<div class="follow_div">关注了</div>
					<div class="followCount_div">{{loginUser.personfolloweesnum}}</div>
			    </a>
			    
				<a href="#" class="user_right_top_follow">
			    	<div class="followed_div">关注者</div>
					<div class="followedCount_div">{{loginUser.personfollowersnum}}</div>
			    </a>
			</div>
			<div class="user_right_bottom">
				<a href="javascript:void(0);">
					<label>关注的话题</label>
					<label class="user_right_bottom_count" >{{topicFollows.count}}</label>
				</a>
				<a href="javascript:void(0);">
					
					<label>关注的专栏</label>
					<label class="user_right_bottom_count">0</label>
				</a>
				<a href="javascript:void(0);">
					<label>关注的问题</label>
					<label class="user_right_bottom_count">0</label>
				</a>
				<a href="javascript:void(0);">
					<label>关注的收藏夹</label>
					<label class="user_right_bottom_count">{{loginUser.personcollectionsnum}}</label>
				</a>
			</div>
		</div>
		<div class="cls_float"></div>
	</div>
    <div class="cls_float"></div>
</div>
{% endblock %}